@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
  color: #fff;
  font-family: "Outfit", sans-serif;
}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    gap: 20px;
    background: #000;
    padding: 15px;
}

.card{
  color: #111;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}
.top{
  display: flex;
  justify-content: space-between;
}
.top .brand{
  padding: 5px;
  background-color: #ccc;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.top .brand img{
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 50%;
}

.btnSave {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 8px;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
    border-radius: 6px;
}

.center h3, .center h3 span{
  font-size: 16px;
  font-weight: 400;
}
.center h2{
  font-size: 24px;
  font-weight: 500;
}
.center h4{
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0 5px 0;
}
.bottom h3{
  font-size: 18px;
  color: green;
}
.btnPrimary{
  border: 1px solid green;
  background-color: green;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  padding: 12px 20px;
}